<html>
  <head>
    <%- include('static.ejs') %>
    <link rel="icon" href="fav.ico" />
    <title>Become a collector</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="text">
      <section class="section-parent">
        <section class="section-child">
          <h1>BECOME A COLLECTOR</h1>
          <p>
            Please reach Jack via teleform (77-SHELL) and provide your alias,
            age, home planet, hobby, and desired start date.
          </p>

          <span class="landscape-container">
            <img src="pictures/landscape.png" />
          </span>
        </section>
      </section>
    </div>
  </body>
</html>
