<html>
  <head>
    <%- include('static.ejs') %>
    <link rel="icon" href="fav.ico">
    <title>＊ Become a collector ~ CCCC</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="text">
      <h1>⁎ BECOME A COLLECTOR</h1>
      <h2>SO YOU'VE DECIDED TO JOIN THE FRAY.</h2>
      <p>
        Wonderful. We're thrilled to have you, as long as you abide by...
      </p>
      <br />
      <h2>THE COLLECTOR'S OATH</h2>
      <p>
        I promise to demonstrate compassion towards myself, my fellow
        Collectors, and Planet Cyan on my collections. I acknowledge that
        collecting is as noble as it is a privilege, and any unkind or otherwise moronic behavior
        puts this privilege at risk.
      </p>

      <br />
      <input type="checkbox" id="promise" name="promise" value="promise" />
      <label for="promise"> I promise</label>
  </body>
</html>