<html>
  <head>
    <%- include('static.ejs') %>
    <link rel="icon" href="fav.ico" />
    <title>⁂ Cyan and us ~ CCCC</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="text">
      <h1>⁂ CYAN AND US</h1>
      <h2>CCCC, THAT'S US</h2>
      <p>
        The Cyan Cleanup and Collection Club (CCCC) is a small grassroots
        organization that collects and documents litter found on Planet Cyan, a
        jewel in the Chromeda system loved by locals and travelers alike,
        located approximately 7.2 light-years* away.
      </p>
      <p>
        *An archaic unit for the distance that light travels during one full
        rotation of Earth (the last centralized planet occupied by humans)
        around its star. Approximately 5.879e12 ens.
      </p>
      <br />
      <h2>OUR PLANET, CYAN</h2>
      <p>Behold the following picture log.</p>

      <table>
        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/planet.png" />
          </td>
          <td>
            That blue jewel is Cyan. The yellow to the right is one of its many
            moons—seems like the orbit was too fast for my shutter...
          </td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/forest.png" />
          </td>
          <td>
            The lush forest, rich with the treasure left behind by travelers.
          </td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/flowers.png" />
          </td>
          <td>
            The most common vegetative species on Cyan. Their translucent
            flowers form lovely shadows on the ash.
          </td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/flowers2.png" />
          </td>
          <td>Like so.</td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/flowers3.png" />
          </td>
          <td>
            I believe this is the second-most common type, although it really could be some kind of mammal as well...*
          </td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/cube.png" />
          </td>
          <td>
            In the last 10 novas, corporations have begun renting out plots of
            land to be used as temporary manufacturing branches. Here is one of
            them.
          </td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/cube2.png" />
          </td>
          <td>Another angle.*</td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/obelisk.png" />
          </td>
          <td>This has been here as long as I can remember.</td>
        </tr>

        <tr>
          <td class="table-image">
            <img class="table-image" src="pictures/surface.png" />
          </td>
          <td>
            At night, Cyan projects a soft light into space. It's very quiet
            here, very blue...
          </td>
        </tr>
      </table>
      <p>
        *Excuse the poor image quality. My camera is an old
        model and unfortunately my health has made it difficult
        to travel back these days.
      </p>
      <p>
        Enjoy —Jack
      </p>
    </div>
  </body>
</html>
