<html>
  <head>
    <%- include('static.ejs') %>
    <link rel="icon" href="fav.ico" />
    <title>⊹ Jack's advice ~ CCCC</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="text">
      <section class="section-parent">
        <section class="section-child" id="jacks-advice">
          <h1>⊹ JACK'S ADVICE</h1>
          <h2>THE LONG HAUL</h2>
          <p>
            Travel can be arduous. Aside from what you might typically think to
            bring on a collection (engine grease, portable wheelhouse*,
            umbrella), past Collectors have also found the following useful:
            bladed galoshes (adjustable better), mess kit with insulation,
            reusable containers, tabulet, rope, methyl cellulose or other
            coaxant, small bound journal, locket or equivalent item of
            sentiment.
          </p>
          <p>We will provide bags and latex suits.</p>
          <small class="aside">* Lightweight, please.</small>
          <br/>
          <br/>
          <h2>WHERE TO SEARCH</h2>
          <p>
            Due to CCCC efforts over the last quarter, the palisades are no longer
            the densest area to find treasure! We now urge Collectors to search
            west of the lush forest, the second affected area. Collecting is as
            noble as it is a privilege. As a reminder, please do not contribute
            to overtourism during your journey: take back what you brought with
            you.
          </p>
          <br/>
          <h2>STAYING SAFE</h2>
          <p>
            Cyan has many small moons which cause its tides to be unpredictable.
            Exercise caution when crossing Cyan's many tidal bridges*. If you
            are inexperienced, please travel with a seasoned Collector who
            understands how to read water charts.
          </p>
          <small class="aside">
            * The reason this is dangerous is because water levels can rush over
            your head in a matter of minutes. If this happens, do not panic,
            kneel down and feel your way to shore using the bridge as a guide.
          </small>
          <small class="aside">
            * In the winter, these bridges may be visible or not depending on
            the state they were frozen in. If you must use them, you can cut
            through the floes with an axe; if you do not own one, take the
            alternate path through the lush forest (1.2 en).
          </small>
        </section>
        <section class="section-child" id="a-handy-map">
          <h1>⊹ A HANDY MAP</h1>
          <p>For your reference.</p>
          <span class="map-container">
            <p class="map-text palisades">* palisades</p>
            <p class="map-text lush-forest">* lush forest</p>
            <p class="map-text town">* town</p>
            <p class="map-text flood-field">* flood field</p>
            <p class="map-text ice-floes">* ice floes</p>
            <p class="map-text north-sea">* north sea</p>
            <img src="pictures/map.png" />
          </span>
        </br>
          <small class="aside">
            * Please hover over each title for a clearer read.
          </small>
        </section>
      </section>
    </div>
  </body>
</html>
