<!-- https://www.w3schools.com/howto/howto_js_slideshow.asp big help on this one -->
<html>
  <head>
    <%- include('static.ejs') %>
    <!-- <link rel="icon" href="fav.ico" />
    <title></title> -->
  </head>
  <body>
    <%- include('nav.ejs') %>
    <!-- <div class="text"> -->
      <div class="slideshow-container">
        <div class="mySlides">
          <img src="/pictures/planet.png" class="slide-img" />
          <div class="img-caption">Caption Text</div>
        </div>

        <div class="mySlides">
          <img src="/pictures/forest.png" class="slide-img" />
          <div class="img-caption">Caption Two</div>
        </div>

        <div class="mySlides">
          <img src="/pictures/flowers.png" class="slide-img" />
          <div class="img-caption">Caption Three</div>
        </div>

        <div class="mySlides">
          <img src="/pictures/flowers2.png" class="slide-img" />
          <div class="img-caption">Caption Four</div>
        </div>

        <div class="mySlides">
          <img src="/pictures/flowers3.png" class="slide-img" />
          <div class="img-caption">Caption Five</div>
        </div>

        <div class="mySlides">
          <img src="/pictures/cube.png" class="slide-img" />
          <div class="img-caption">Caption Six</div>
        </div>

        <div class="mySlides">
          <img src="/pictures/cube2.png" class="slide-img" />
          <div class="img-caption">Caption Seven</div>
        </div>

        <div class="mySlides">
          <img src="/pictures/surface.png" class="slide-img" />
          <div class="img-caption">Caption Eight</div>
        </div>

        <!-- next and prev buttons -->
        <a class="prev" onclick="plusSlides(-1)">⤎</a>
        <a class="next" onclick="plusSlides(1)">⤏</a>
      <br />

      <!-- dots -->
      <!-- <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div> -->
    <!-- </div> -->
  </body>
</html>
